
body {
    background: url('/image/background.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF99;
        pointer-events: none;
    }
}


.event-title {
    margin: 2rem auto 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}


.form-area {
    width: 800px;
    margin: 0 auto;
    background: #FFFFFFAD;
    border-radius: .5rem;
    padding: 1.5rem;

    .contents-row {
        border: solid 1px #ccc;
        margin-bottom: 1rem;

        & > .content-title {
            padding: .25rem .5rem;
            background: #B6934E;
            border: solid 1px #B6934E;
            color: white;
        }

        & > .content-items {
            padding: .25rem .5rem;
            background: #fff;
            border: solid 1px #B6934E;
        }
    }
}

@media (max-width:640px){
    .form-area {
        width: 100%;
        padding: 1.5rem .75rem;
    }
}


.terms-condition {
    max-height: 300px;
    overflow-y: scroll;
    padding: .25rem;
    border: solid 1px #ccc;
}

.support-msg {
    color: #777;
}

input::placeholder {
    color: #ddd;
}

.submit-btn {
    padding: .5rem 1.5rem;
    border-radius: 50px;
    background: #B6934E;
    color: white;
    border: solid 1px #B6934E;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background: white;
        color: #B6934E;
    }
}



/**************************
 * チケット画面
 **************************/
.ticket-container {
    position: absolute;
    top: 40%;
    left: 50%;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    background: #fffb;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);

    & > .event-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3rem;
    }

    & > .content-area {
        text-align: center;
        margin-bottom: 30px;
        color: #333;

        & > .user-info {
            font-size: 24px;
            font-weight: bold;
        }

        & > .unique-code {
            font-family: monospace;
            font-size: 18px;
            color: #555;
        }
    }
}


@media (max-width:640px){
    .ticket-container {
        width: 95%;
        padding: 1.5rem .5rem;
    }
}


.warning-text {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type='range'] {
    -webkit-appearance: none;
    width: 80%;
    height: 50px;
    background: #f1f1f1;
    border-radius: 10px;
    outline: none;
    transition: background 0.3s;
    border: 2px solid #0d0d0d;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 50px;
    background: #ccc;
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border: 2px solid #0d0d0d;
    transition: background 0.3s;
}

input[type='range']:hover::-webkit-slider-thumb {
    background: linear-gradient(135deg, #357ABD, #4A90E2);
}

input[type='range']:active::-webkit-slider-thumb {
    background: linear-gradient(135deg, #2A6496, #4A90E2);
}
