
.btn {
    background: #999;
    padding: .25rem 1rem;
    border-radius: .25rem;
}

.dataTables_length select {
    padding-right: 2rem!important;
}


input::placeholder {
    color: #ccc;
}


.btn-primary {
    display: inline-block;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #0058ba;
    border: 1px solid #0058ba;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.btn-primary:hover {
    background-color: #7397bf;
}
